<nav>
	<ul>
		<li>
			<a href="/">
				home
			</a>
		</li>
		<li>
			<a href="/tentang/14117055">
				tentang
			</a>
		</li>
		<li>
			<a href="/tentang/geleri">
				galeri
			</a>
		</li>
	</ul>
</nav>