---
layout : tataletak.njk
namakamu : Aldi Indrawan
foto :  C:\Users\USER\tugas1_14117055\14117055-PWL\assets\img\011.jpg
---

<h3> ini galeri saya </h3>
<h1> {{namakamu}} </h1>
<img src="{{foto}}"  height="500" width="500"</h1>
